%h1 Our customers

= link_to '+ New', new_customer_path

%table.customers
  - vm.customers.each do |customer|
    %tr.customer
      %td.name= link_to customer, customer
      %td.balance= "$%.2f" % customer.balance
